<div class="mt-[85px] w-full flex justify-center p-6 sm:p-10 bg-white">
  <div class="w-full flex flex-col md:flex-row max-w-7xl min-h-[540px] bg-[#E3E9F3] rounded-xl p-6 sm:py-10 sm:px-14 gap-8 md:gap-4">
    <div class="flex flex-col justify-center flex-1 space-y-6 text-center md:text-left">
      <h1 class="text-3xl sm:text-4xl md:text-5xl leading-tight max-w-[520px] font-medium">
        En Shalom no solo transportamos
        <span class="text-[#FE161D]">envíos</span>; también llevamos
        <span class="text-[#FE161D]">historias</span>
      </h1>

      <p class="text-gray-700 text-base sm:text-lg leading-relaxed">
        Sabemos que la seguridad y la confianza son lo más importante para tu empresa y tus clientes.
        En Shalom, cada envío se maneja con el máximo cuidado y protocolos rigurosos.
      </p>
      <div class="flex flex-col sm:flex-row justify-center md:justify-start gap-4">
        <button class="border border-[#EE2A2F] bg-[#EE2A2F] text-white py-3 px-6 rounded-2xl hover:bg-[#fe4548] transition">
          Realizar envío
        </button>
        <button class="border border-[#EE2A2F] text-[#EE2A2F] py-3 px-6 rounded-2xl hover:bg-[#EE2A2F] hover:text-white transition">
          Explorar servicios
        </button>
      </div>
    </div>
    <div class="flex justify-center items-center flex-1">
      <img src="assets/home_banner.png"
           alt="Envíos Shalom"
           class="w-full max-w-[420px] sm:max-w-[480px] md:max-w-[500px] object-contain drop-shadow-lg"/>
    </div>
  </div>
</div>
