<header class="w-full bg-[#FE161D] fixed top-0 z-50 shadow-md transition-all duration-300">
  <div class="w-full max-w-7xl mx-auto flex justify-between items-center h-[85px] px-6 sm:px-10 lg:px-0">
    <div class="h-[60px] w-[150px] sm:w-[200px]">
      <img class="w-full h-full object-contain" src="assets/logo.png" alt="Logo" />
    </div>
    <nav class="hidden md:flex items-center">
      <ul class="flex items-center gap-8">
        <li
          class="flex items-center text-white gap-2 pb-1 border-b-2 border-transparent hover:border-amber-50 transition cursor-pointer">
          <span>Inicio</span>
        </li>
        <li
          class="flex items-center text-white gap-2 pb-1 border-b-2 border-transparent hover:border-amber-50 transition cursor-pointer">
          <span>Rastrea</span>
        </li>
        <li
          class="flex items-center text-white gap-2 pb-1 border-b-2 border-transparent hover:border-amber-50 transition cursor-pointer">
          <span>Servicios</span>
        </li>
        <li
          class="flex items-center text-white gap-2 pb-1 border-b-2 border-transparent hover:border-amber-50 transition cursor-pointer">
          <span>Agencias</span>
        </li>
        <li
          class="flex items-center text-white gap-2 pb-1 border-b-2 border-transparent hover:border-amber-50 transition cursor-pointer">
          <span>Tarifas</span>
        </li>
      </ul>
    </nav>
    <div class="hidden md:flex items-center gap-4">
      @if (!isAuthenticated()) {
        <button (click)="onLogin()" class="flex items-center gap-2 text-white hover:text-gray-200 transition">
          <mat-icon fontIcon="login"></mat-icon>
          <span>Iniciar Sesión</span>
        </button>
        <button (click)="onRegister()" class="flex items-center gap-2 bg-white text-black px-4 py-2 rounded-lg hover:bg-red-300 hover:text-white transition">
          <mat-icon fontIcon="add"></mat-icon>
          <span>Registrarse</span>
        </button>
      } @else {

      }
    </div>
    <div class="md:hidden flex items-center">
      <button (click)="toggleMenu()" class="text-white focus:outline-none">
        <svg class="w-8 h-8" fill="none" stroke="currentColor" viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
        </svg>
      </button>
    </div>
  </div>
  <div *ngIf="menuOpen()" (click)="toggleMenu()"
    class="fixed inset-0 bg-black/50 backdrop-blur-sm md:hidden z-30 transition-opacity duration-300">
  </div>
  <nav [class.translate-x-0]="menuOpen()" [class.-translate-x-full]="!menuOpen()"
    class="fixed top-0 left-0 w-60 h-full bg-[#FE161D] transform transition-transform duration-300 md:hidden shadow-lg z-40 flex flex-col pt-24 px-4">
    <ul class="flex flex-col gap-4">
      <li
        class="flex items-center text-white gap-3 cursor-pointer px-3 py-2 rounded-lg transition hover:bg-white/80 hover:text-black">
        <mat-icon fontIcon="home" class="text-2xl"></mat-icon>
        <span>Inicio</span>
      </li>
      <li
        class="flex items-center text-white gap-3 cursor-pointer px-3 py-2 rounded-lg transition hover:bg-white/80 hover:text-black">
        <mat-icon fontIcon="search" class="text-2xl"></mat-icon>
        <span>Rastrea</span>
      </li>
      <li
        class="flex items-center text-white gap-3 cursor-pointer px-3 py-2 rounded-lg transition hover:bg-white/80 hover:text-black">
        <mat-icon fontIcon="inventory" class="text-2xl"></mat-icon>
        <span>Servicios</span>
      </li>
      <li
        class="flex items-center text-white gap-3 cursor-pointer px-3 py-2 rounded-lg transition hover:bg-white/80 hover:text-black">
        <mat-icon fontIcon="map" class="text-2xl"></mat-icon>
        <span>Agencias</span>
      </li>
      <li
        class="flex items-center text-white gap-3 cursor-pointer px-3 py-2 rounded-lg transition hover:bg-white/80 hover:text-black">
        <mat-icon fontIcon="ballot" class="text-2xl"></mat-icon>
        <span>Tarifas</span>
      </li>
    </ul>
    <div class="border-t border-white/30 my-6"></div>
    <div class="flex flex-col gap-4">
      <button
        (click)="onLogin()"
        class="flex items-center gap-3 text-white px-3 py-2 rounded-lg transition hover:bg-white/80 hover:text-black">
        <mat-icon fontIcon="login"></mat-icon>
        <span>Iniciar Sesión</span>
      </button>
      <button
        (click)="onRegister()"
        class="flex items-center gap-3 bg-white text-black px-4 py-2 rounded-lg hover:bg-white/80 hover:text-black transition">
        <mat-icon fontIcon="add"></mat-icon>
        <span>Registrarse</span>
      </button>
    </div>
  </nav>
</header>
