<section class="py-16 px-4 bg-white">
  <div class="max-w-7xl mx-auto rounded-xl overflow-hidden shadow-2xl border border-gray-100">
    <div class="grid grid-cols-1 lg:grid-cols-3">
      <div class="lg:col-span-2 h-80 bg-gray-200 relative">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d243.85909674186843!2d-77.03406200322247!3d-12.06102049719142!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2spe!4v1762306082961!5m2!1ses-419!2spe"
          width="852" height="320" style="border:0;" allowfullscreen="" loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
      <div class="lg:col-span-1 p-8 flex flex-col justify-center space-y-6 bg-gray-900 text-white">
        <h2 class="text-3xl font-bold">
          ¿Listo para enviar tu paquete?
        </h2>
        <span>Visitanos en nuestra sede principal</span>
      </div>
    </div>
  </div>
</section>
