<section class="py-10 bg-white max-w-7xl mx-auto">

  <div class="flex justify-between items-center mb-8">
    <h2 class="text-3xl font-bold text-gray-900">Nuestras agencias</h2>
    <button class="border border-[#FE161D] text-[#FE161D] py-2 px-4 rounded-full hover:bg-red-50 transition text-sm sm:text-base">
      + Ver más
    </button>
  </div>

  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-4 h-[500px]">
    @for(item of galleryItems; track item.id) {
      <div [ngClass]="getCardClasses(item.id)">
        <app-gallery-card [item]="item" />
      </div>
    } @empty {
      <p class="text-gray-500 col-span-full text-center">No hay agencias</p>
    }
  </div>
</section>
